<!doctype html>
<html>
  <head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/styles.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
    <title>Home</title>
    </head>
    <nav class="navbar">
        <ul>
            <li><div class = "links"><a href="{{ url_for('static', filename='main.html') }}">Home</a><div class = "underline"><\div></div></li>
            <li><div class = "links"><a href="{{ url_for('static', filename='process.html') }}">Process</a><div class = "underline"><\div></div></li>
            <li><div class = "links"><a href="{{ url_for('static', filename='team.html') }}">Our Team</a><div class = "underline"><\div></div></li>
        </ul>
    </nav>
    <body class = "content">
        <div class = "title"><img src="/static/styles/img/logo.PNG" alt="Shield Net logo" width="60" height="60" id="logo"><img src="/static/styles/img/logo-loading.GIF" alt="Guard Net logo animation" width="60" height="60" id="logo-loading"><h1>Shield Net</h1></div>
        <div class = "description"> Input your website log to determine whether the activity is malicious or not!</div>
        <div class = "content_home">
            <div id="dash-line"><p>-----------------------------------------------------------------------------</p></div>
            <form id="csv_form" action="{{url_for('predict')}}" method="post">
                <div class = "csv_filler">
                    <div class = "button" id="input_button">
                        + Input File
                        <input id="csv_input" type="file" accept=".csv" style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;" />
                    </div>
                <p id="check_csv_input">No files selected</p>
                </div>
                <div class="button" id="submit_button">Attack type&#129034;
                    <input type="submit" value="Submit" style="opacity: 0.0; position: absolute; top: 0; left: 0; bottom: 0; right: 0; width: 100%; height:100%;">
                </div>
            </form>
            <div class ="right results">
                <div id = "response-box"><div class="white-bg"><p>The network activity is:</p><p id="response-text">{{prediction_text}}</p></div></div>
            </div>
        </div>
    </body>
    </html>